<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="enter title">
        <br>
        <textarea name="listing[description]" id="" placeholder="write description"></textarea>
        <br>
        <input type="text" name="listing[image]" id="" placeholder="enter image/URL link">
        <br>
        <input type="number" name="listing[price]" placeholder="enter price">
        <br>
        <input type="text" name="listing[location]" placeholder="location">
        <br>
        <input type="text" name="listing[country]" id="" placeholder="country">
        <button>Submit</button>
    </form>
</body>
</html>